.library-name a {
    position: relative;
    margin-left: 55px;
}

.library-name a::before {
    content: '';
    background: url("../images/d_prefs_logo.svg") center no-repeat;
    background-size: contain;
    position: absolute;
    width: 35px;
    height: 35px;
    top: -10px;
    left: -55px;
}